In [52]:
import json
import requests
import pandas as pd
from pandas.io.json import json_normalize
from math import sin, cos, sqrt, atan2, radians

In [36]:
# making a request for bars in De Baarjes oud-West

api_key='yf-OSFRRj1BY5XMYy-YT4cNawIIlKPxQ8l3rJrvimW5kFXdHM7Gn9vvTgTKxnYyX8RW2A9TIPS5HHSFokAFmvXN_LgJv_pSBJVFnL7Xb-jdcZmAdLBKTDhUhCO1bXnYx'
headers = {'Authorization': 'Bearer %s' % api_key}

url='https://api.yelp.com/v3/businesses/search'

# In the dictionary, term can take values like food, cafes or businesses like McDonalds
params = {'term': 'bars', 'latitude':'52.366228', 'longitude': '4.862487', 'limit': 50}

# Making a get request to the API
req=requests.get(url, params=params, headers=headers)
 
# proceed only if the status code is 200
print('The status code is {}'.format(req.status_code))

# printing the text from the response 
parsed = json.loads(req.text)
businesses = parsed["businesses"]

venue_bars = pd.DataFrame(businesses)


def flatten(venue_bars, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(venue_bars[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + ',' + colname for colname in columns]
        venue_bars = pd.concat([venue_bars, flattened], axis=1)
        venue_bars = venue_bars.drop(column, axis=1)
    return venue_bars

nested_columns = ['coordinates']

venue_bars_flat = flatten(venue_bars, nested_columns)
venue_bars_flat['type of venues'] = "food & drinks"
print(venue_bars_flat.shape)
venue_bars_flat.head()

The status code is 200
(50, 18)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,price,location,phone,display_phone,distance,"coordinates,latitude","coordinates,longitude",type of venues
0,PCLXXkxqz46ttPOBHM1r_A,kevin-bacon-bar-amsterdam-2,Kevin Bacon Bar,https://s3-media3.fl.yelpcdn.com/bphoto/iqu7rN...,False,https://www.yelp.com/biz/kevin-bacon-bar-amste...,10,"[{'alias': 'lounges', 'title': 'Lounges'}, {'a...",4.0,[],€€,"{'address1': 'Witte De Withstraat 38', 'addres...",+31208204538,+31 20 820 4538,210.964140,52.366211,4.859380,food & drinks
1,x9LmhP5mhVVQBjX_5HRF-g,craft-en-draft-amsterdam,Craft & Draft,https://s3-media2.fl.yelpcdn.com/bphoto/gjs_Ys...,False,https://www.yelp.com/biz/craft-en-draft-amster...,23,"[{'alias': 'pubs', 'title': 'Pubs'}]",4.5,[],€€,"{'address1': 'Overtoom 417', 'address2': '', '...",+31202230725,+31 20 223 0725,801.104282,52.359058,4.861160,food & drinks
2,ywkE2Qwj2qFT7LtN8XiyxQ,gin-and-tonic-bar-amsterdam,gin and tonic bar,https://s3-media4.fl.yelpcdn.com/bphoto/5ISlyB...,False,https://www.yelp.com/biz/gin-and-tonic-bar-ams...,6,"[{'alias': 'bars', 'title': 'Bars'}]",5.0,[],NaN,"{'address1': 'Bellamyplein 51', 'address2': ''...",,,390.395551,52.367470,4.867880,food & drinks
3,sKCm1WbNhtpCXP5mRTi5wg,hookah-lounge-amsterdam-amsterdam,Hookah Lounge Amsterdam,https://s3-media3.fl.yelpcdn.com/bphoto/OOiA4I...,False,https://www.yelp.com/biz/hookah-lounge-amsterd...,7,"[{'alias': 'hookah_bars', 'title': 'Hookah Bar...",5.0,[],NaN,"{'address1': 'Kinkerstraat 346', 'address2': '...",+31627345678,+31 6 27345678,165.378034,52.364818,4.862226,food & drinks
4,6nN1aGt6IceUW1Ehe_fv3w,waterkant-amsterdam,Waterkant,https://s3-media3.fl.yelpcdn.com/bphoto/ZDkl4I...,False,https://www.yelp.com/biz/waterkant-amsterdam?a...,64,"[{'alias': 'pubs', 'title': 'Pubs'}]",4.0,[],€€,"{'address1': 'Marnixstraat 246', 'address2': '...",+31207371126,+31 20 737 1126,1010.863722,52.369889,4.876115,food & drinks

In [37]:
# making a request for museums in De Baarjes oud-West

api_key='yf-OSFRRj1BY5XMYy-YT4cNawIIlKPxQ8l3rJrvimW5kFXdHM7Gn9vvTgTKxnYyX8RW2A9TIPS5HHSFokAFmvXN_LgJv_pSBJVFnL7Xb-jdcZmAdLBKTDhUhCO1bXnYx'
headers = {'Authorization': 'Bearer %s' % api_key}

url='https://api.yelp.com/v3/businesses/search'

# In the dictionary, term can take values like food, cafes or businesses like McDonalds
params = {'term': 'museums', 'latitude':'52.366228', 'longitude': '4.862487', 'limit': 50}

# Making a get request to the API
req=requests.get(url, params=params, headers=headers)
 
# proceed only if the status code is 200
print('The status code is {}'.format(req.status_code))

# printing the text from the response 
parsed = json.loads(req.text)
businesses = parsed["businesses"]

venue_museums = pd.DataFrame(businesses)


def flatten(venue_museums, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(venue_museums[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + ',' + colname for colname in columns]
        venue_museums = pd.concat([venue_museums, flattened], axis=1)
        venue_museums = venue_museums.drop(column, axis=1)
    return venue_museums

nested_columns = ['coordinates']

venue_museums_flat = flatten(venue_museums, nested_columns)
venue_museums_flat['type of venues'] = "museums"
print(venue_museums_flat.shape)
venue_museums_flat.head()

The status code is 200
(50, 18)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,location,phone,display_phone,distance,price,"coordinates,latitude","coordinates,longitude",type of venues
0,RG3_AMTYRY9a3lJ18cIluA,rijksmuseum-amsterdam-3,Rijksmuseum,https://s3-media4.fl.yelpcdn.com/bphoto/V7oMmT...,False,https://www.yelp.com/biz/rijksmuseum-amsterdam...,366,"[{'alias': 'museums', 'title': 'Museums'}]",4.5,[],"{'address1': 'Museumstraat 1', 'address2': Non...",+31206747000,+31 20 674 7000,1692.322888,NaN,52.360002,4.885230,museums
1,nuaX0cV-O0mD5--KdNBEpA,van-gogh-museum-amsterdam,Van Gogh Museum,https://s3-media4.fl.yelpcdn.com/bphoto/PmkVAp...,False,https://www.yelp.com/biz/van-gogh-museum-amste...,610,"[{'alias': 'museums', 'title': 'Museums'}]",4.5,[],"{'address1': 'Museumplein 6', 'address2': None...",+31205705200,+31 20 570 5200,1544.263815,NaN,52.358459,4.881338,museums
2,SQfDGSCa6CU4hVfYE5JsUg,anne-frank-huis-amsterdam-2,Anne Frank House,https://s3-media2.fl.yelpcdn.com/bphoto/Fi-d9H...,False,https://www.yelp.com/biz/anne-frank-huis-amste...,603,"[{'alias': 'museums', 'title': 'Museums'}]",4.5,[],"{'address1': 'Prinsengracht 267', 'address2': ...",+31205567105,+31 20 556 7105,1767.569619,NaN,52.375221,4.883956,museums
3,uFAXxqGw68KrNuwtcP3pAA,moco-museum-amsterdam,Moco Museum,https://s3-media4.fl.yelpcdn.com/bphoto/kybtTy...,False,https://www.yelp.com/biz/moco-museum-amsterdam...,69,"[{'alias': 'museums', 'title': 'Museums'}]",4.5,[],"{'address1': 'Honthorststraat 20', 'address2':...",+31203701997,+31 20 370 1997,1559.690267,NaN,52.358690,4.881858,museums
4,LQetxy80XzoHcDYnrO9NNQ,stedelijk-museum-amsterdam-3,Stedelijk Museum,https://s3-media4.fl.yelpcdn.com/bphoto/FDBzKX...,False,https://www.yelp.com/biz/stedelijk-museum-amst...,73,"[{'alias': 'museums', 'title': 'Museums'}]",4.0,[],"{'address1': 'Museumplein 10', 'address2': Non...",+31205732911,+31 20 573 2911,1507.803680,NaN,52.357817,4.879905,museums

In [38]:
# making a request for restaurants in De Baarjes oud-West

api_key='yf-OSFRRj1BY5XMYy-YT4cNawIIlKPxQ8l3rJrvimW5kFXdHM7Gn9vvTgTKxnYyX8RW2A9TIPS5HHSFokAFmvXN_LgJv_pSBJVFnL7Xb-jdcZmAdLBKTDhUhCO1bXnYx'
headers = {'Authorization': 'Bearer %s' % api_key}

url='https://api.yelp.com/v3/businesses/search'

# In the dictionary, term can take values like food, cafes or businesses like McDonalds
params = {'term': 'restaurants', 'latitude':'52.366228', 'longitude': '4.862487', 'limit': 50}

# Making a get request to the API
req=requests.get(url, params=params, headers=headers)
 
# proceed only if the status code is 200
print('The status code is {}'.format(req.status_code))

# printing the text from the response 
parsed = json.loads(req.text)
businesses = parsed["businesses"]

venue_restaurants = pd.DataFrame(businesses)


def flatten(venue_restaurants, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(venue_restaurants[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + ',' + colname for colname in columns]
        venue_restaurants = pd.concat([venue_restaurants, flattened], axis=1)
        venue_restaurants = venue_restaurants.drop(column, axis=1)
    return venue_restaurants

nested_columns = ['coordinates']

venue_restaurants_flat = flatten(venue_restaurants, nested_columns)
venue_restaurants_flat['type of venues'] = "food & drinks"
print(venue_restaurants_flat.shape)
venue_restaurants_flat.head()

The status code is 200
(50, 18)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,price,location,phone,display_phone,distance,"coordinates,latitude","coordinates,longitude",type of venues
0,g5x34k9-hmw6BD_0aat52g,the-pantry-amsterdam,The Pantry,https://s3-media4.fl.yelpcdn.com/bphoto/DSfIRw...,False,https://www.yelp.com/biz/the-pantry-amsterdam?...,433,"[{'alias': 'modern_european', 'title': 'Modern...",4.5,[],€€,"{'address1': 'Leidsekruisstraat 21', 'address2...",+31206200922,+31 20 620 0922,1556.198444,52.363468,4.884956,food & drinks
1,jsNbOS1qCIsSG7kvH7CBuQ,de-foodhallen-amsterdam,De Foodhallen,https://s3-media1.fl.yelpcdn.com/bphoto/7NWSNJ...,False,https://www.yelp.com/biz/de-foodhallen-amsterd...,457,"[{'alias': 'food_court', 'title': 'Food Court'}]",4.5,[],€€,"{'address1': 'Bellamyplein 51', 'address2': ''...",+31202181776,+31 20 218 1776,390.745217,52.367066,4.868076,food & drinks
2,234t7dG5yxY3lOYsx1Gs7A,moeders-amsterdam,Moeders,https://s3-media1.fl.yelpcdn.com/bphoto/jdaUM3...,False,https://www.yelp.com/biz/moeders-amsterdam?adj...,284,"[{'alias': 'modern_european', 'title': 'Modern...",4.5,[],€€,"{'address1': 'Rozengracht 251', 'address2': ''...",+31206267957,+31 20 626 7957,1051.112522,52.371806,4.875051,food & drinks
3,Kt7MNOB4u8YkHp4VGUGurg,kartika-amsterdam,Kartika,https://s3-media3.fl.yelpcdn.com/bphoto/J1lLAE...,False,https://www.yelp.com/biz/kartika-amsterdam?adj...,257,"[{'alias': 'indonesian', 'title': 'Indonesian'}]",4.0,[],€€,"{'address1': 'Overtoom 68', 'address2': None, ...",+31206181879,+31 20 618 1879,982.222288,52.363094,4.875867,food & drinks
4,rFEK_LKA5ephed8tk-4JzQ,gollems-proeflokaal-amsterdam,Gollem's Proeflokaal,https://s3-media2.fl.yelpcdn.com/bphoto/Go9XZB...,False,https://www.yelp.com/biz/gollems-proeflokaal-a...,65,"[{'alias': 'gastropubs', 'title': 'Gastropubs'}]",4.5,[],€€,"{'address1': 'Overtoom 160-162', 'address2': N...",+31206129444,+31 20 612 9444,830.374735,52.362363,4.873030,food & drinks

In [39]:
# making a request for supermarket in De Baarjes oud-West

api_key='yf-OSFRRj1BY5XMYy-YT4cNawIIlKPxQ8l3rJrvimW5kFXdHM7Gn9vvTgTKxnYyX8RW2A9TIPS5HHSFokAFmvXN_LgJv_pSBJVFnL7Xb-jdcZmAdLBKTDhUhCO1bXnYx'
headers = {'Authorization': 'Bearer %s' % api_key}

url='https://api.yelp.com/v3/businesses/search'

# In the dictionary, term can take values like food, cafes or businesses like McDonalds
params = {'term': 'supermarket', 'latitude':'52.366228', 'longitude': '4.862487', 'limit': 15}

# Making a get request to the API
req=requests.get(url, params=params, headers=headers)
 
# proceed only if the status code is 200
print('The status code is {}'.format(req.status_code))

# printing the text from the response 
parsed = json.loads(req.text)
businesses = parsed["businesses"]

venue_supermarket = pd.DataFrame(businesses)


def flatten(venue_supermarket, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(venue_supermarket[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + ',' + colname for colname in columns]
        venue_supermarket = pd.concat([venue_supermarket, flattened], axis=1)
        venue_supermarket = venue_supermarket.drop(column, axis=1)
    return venue_supermarket

nested_columns = ['coordinates']

venue_supermarket_flat = flatten(venue_supermarket, nested_columns)
venue_supermarket_flat['type of venues'] = "supermarket"
print(venue_supermarket_flat.shape)
venue_supermarket_flat.head()

The status code is 200
(15, 18)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,price,location,phone,display_phone,distance,"coordinates,latitude","coordinates,longitude",type of venues
0,0ketsN0rw2LjA4Ym4XxHRw,albert-heijn-amsterdam-115,Albert Heijn,https://s3-media2.fl.yelpcdn.com/bphoto/rbx4v4...,False,https://www.yelp.com/biz/albert-heijn-amsterda...,25,"[{'alias': 'grocery', 'title': 'Grocery'}]",4.0,[],€€,"{'address1': 'Van Baerlestraat 33a', 'address2...",+31206620416,+31 20 662 0416,1531.957732,52.357211,4.879544,supermarket
1,nd0-HN3Svc3TXbtzqM9cTA,albert-heijn-amsterdam-17,Albert Heijn,https://s3-media1.fl.yelpcdn.com/bphoto/x4q6jH...,False,https://www.yelp.com/biz/albert-heijn-amsterda...,5,"[{'alias': 'grocery', 'title': 'Grocery'}]",3.0,[],€€,"{'address1': 'Kinkerstraat 89', 'address2': No...",+31206180088,+31 20 618 0088,544.461636,52.366662,4.870474,supermarket
2,_359iwNiF4ArDmFN3lbnLw,marqt-amsterdam-13,Marqt,https://s3-media4.fl.yelpcdn.com/bphoto/SmbAzs...,False,https://www.yelp.com/biz/marqt-amsterdam-13?ad...,22,"[{'alias': 'grocery', 'title': 'Grocery'}]",4.0,[],€€€,"{'address1': 'Overtoom 21', 'address2': None, ...",+31208208292,+31 20 820 8292,1099.264212,52.363285,4.877781,supermarket
3,copL--X2IsLJyTNpJJM36Q,supermarkt-royal-xl-amsterdam,Supermarkt Royal XL,https://s3-media1.fl.yelpcdn.com/bphoto/JoAjmO...,False,https://www.yelp.com/biz/supermarkt-royal-xl-a...,5,"[{'alias': 'grocery', 'title': 'Grocery'}]",4.0,[],€€,"{'address1': 'Ceintuurbaan 270', 'address2': '...",+31206759437,+31 20 675 9437,2441.053369,52.352531,4.890545,supermarket
4,WIapiXWPZjfayUsUUTdQEw,albert-heijn-amsterdam-136,Albert Heijn,https://s3-media2.fl.yelpcdn.com/bphoto/-WLFlz...,False,https://www.yelp.com/biz/albert-heijn-amsterda...,25,"[{'alias': 'grocery', 'title': 'Grocery'}]",4.0,[],€€,"{'address1': 'Nieuwezijds Voorburgwal 226', 'a...",+31204218344,+31 20 421 8344,2026.189019,52.372849,4.890291,supermarket

In [40]:
# we are going to concatenate the values of all dataframes into one

lst = [venue_bars_flat , venue_museums_flat , venue_restaurants_flat, venue_supermarket_flat]
venues = pd.concat(lst)
print(venues.shape)
venues.head()

(165, 18)

C:\Users\mafal.MIGUELFRAGOSO\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

,alias,categories,"coordinates,latitude","coordinates,longitude",display_phone,distance,id,image_url,is_closed,location,name,phone,price,rating,review_count,transactions,type of venues,url
0,kevin-bacon-bar-amsterdam-2,"[{'alias': 'lounges', 'title': 'Lounges'}, {'a...",52.366211,4.859380,+31 20 820 4538,210.964140,PCLXXkxqz46ttPOBHM1r_A,https://s3-media3.fl.yelpcdn.com/bphoto/iqu7rN...,False,"{'address1': 'Witte De Withstraat 38', 'addres...",Kevin Bacon Bar,+31208204538,€€,4.0,10,[],food & drinks,https://www.yelp.com/biz/kevin-bacon-bar-amste...
1,craft-en-draft-amsterdam,"[{'alias': 'pubs', 'title': 'Pubs'}]",52.359058,4.861160,+31 20 223 0725,801.104282,x9LmhP5mhVVQBjX_5HRF-g,https://s3-media2.fl.yelpcdn.com/bphoto/gjs_Ys...,False,"{'address1': 'Overtoom 417', 'address2': '', '...",Craft & Draft,+31202230725,€€,4.5,23,[],food & drinks,https://www.yelp.com/biz/craft-en-draft-amster...
2,gin-and-tonic-bar-amsterdam,"[{'alias': 'bars', 'title': 'Bars'}]",52.367470,4.867880,,390.395551,ywkE2Qwj2qFT7LtN8XiyxQ,https://s3-media4.fl.yelpcdn.com/bphoto/5ISlyB...,False,"{'address1': 'Bellamyplein 51', 'address2': ''...",gin and tonic bar,,NaN,5.0,6,[],food & drinks,https://www.yelp.com/biz/gin-and-tonic-bar-ams...
3,hookah-lounge-amsterdam-amsterdam,"[{'alias': 'hookah_bars', 'title': 'Hookah Bar...",52.364818,4.862226,+31 6 27345678,165.378034,sKCm1WbNhtpCXP5mRTi5wg,https://s3-media3.fl.yelpcdn.com/bphoto/OOiA4I...,False,"{'address1': 'Kinkerstraat 346', 'address2': '...",Hookah Lounge Amsterdam,+31627345678,NaN,5.0,7,[],food & drinks,https://www.yelp.com/biz/hookah-lounge-amsterd...
4,waterkant-amsterdam,"[{'alias': 'pubs', 'title': 'Pubs'}]",52.369889,4.876115,+31 20 737 1126,1010.863722,6nN1aGt6IceUW1Ehe_fv3w,https://s3-media3.fl.yelpcdn.com/bphoto/ZDkl4I...,False,"{'address1': 'Marnixstraat 246', 'address2': '...",Waterkant,+31207371126,€€,4.0,64,[],food & drinks,https://www.yelp.com/biz/waterkant-amsterdam?a...

In [42]:
# printing the columns of the dataframe

print(list(venues.columns))

['alias', 'categories', 'coordinates,latitude', 'coordinates,longitude', 'display_phone', 'distance', 'id', 'image_url', 'is_closed', 'location', 'name', 'phone', 'price', 'rating', 'review_count', 'transactions', 'type of venues', 'url']

In [43]:
# creating a new dataframe with the relevant columns

venues2 = venues[['id', 'name', 'coordinates,latitude', 'coordinates,longitude', 'type of venues', 'url']]
venues2

,id,name,"coordinates,latitude","coordinates,longitude",type of venues,url
0,PCLXXkxqz46ttPOBHM1r_A,Kevin Bacon Bar,52.366211,4.859380,food & drinks,https://www.yelp.com/biz/kevin-bacon-bar-amste...
1,x9LmhP5mhVVQBjX_5HRF-g,Craft & Draft,52.359058,4.861160,food & drinks,https://www.yelp.com/biz/craft-en-draft-amster...
2,ywkE2Qwj2qFT7LtN8XiyxQ,gin and tonic bar,52.367470,4.867880,food & drinks,https://www.yelp.com/biz/gin-and-tonic-bar-ams...
3,sKCm1WbNhtpCXP5mRTi5wg,Hookah Lounge Amsterdam,52.364818,4.862226,food & drinks,https://www.yelp.com/biz/hookah-lounge-amsterd...
4,6nN1aGt6IceUW1Ehe_fv3w,Waterkant,52.369889,4.876115,food & drinks,https://www.yelp.com/biz/waterkant-amsterdam?a...
...,...,...,...,...,...,...
10,oYBWpgfOMqGezA3fhNf5UA,De Avondmarkt,52.383237,4.876507,supermarket,https://www.yelp.com/biz/de-avondmarkt-amsterd...
11,3KRoz3VU2oFpm4EwxGCusQ,Albert Heijn,52.362694,4.892159,supermarket,https://www.yelp.com/biz/albert-heijn-amsterda...
12,fvFIn1wUhqq3vk6Zf1e-yw,Beydogan Sera Supermarket,52.381038,4.855395,supermarket,https://www.yelp.com/biz/beydogan-sera-superma...
13,cBDhlZaWcGP2Eq2B5iZgtg,Albert Heijn,52.331019,4.878251,supermarket,https://www.yelp.com/biz/albert-heijn-amsterda...
14,SEMNH3s4dxbVF0qo1LnbTw,Albert Heijn,52.378070,4.901180,supermarket,https://www.yelp.com/biz/albert-heijn-amsterda...

In [44]:
# checking missing values

null_cols = venues2.isnull().sum()
null_cols[null_cols > 0]

Series([], dtype: int64)

In [45]:
# checking the data types of each collumn
venues2.dtypes

id                        object
name                      object
coordinates,latitude     float64
coordinates,longitude    float64
type of venues            object
url                       object
dtype: object

In [46]:
before = len(venues2)
venues2 = venues2.drop_duplicates()
after = len(venues2)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  6

In [47]:
venues2

,id,name,"coordinates,latitude","coordinates,longitude",type of venues,url
0,PCLXXkxqz46ttPOBHM1r_A,Kevin Bacon Bar,52.366211,4.859380,food & drinks,https://www.yelp.com/biz/kevin-bacon-bar-amste...
1,x9LmhP5mhVVQBjX_5HRF-g,Craft & Draft,52.359058,4.861160,food & drinks,https://www.yelp.com/biz/craft-en-draft-amster...
2,ywkE2Qwj2qFT7LtN8XiyxQ,gin and tonic bar,52.367470,4.867880,food & drinks,https://www.yelp.com/biz/gin-and-tonic-bar-ams...
3,sKCm1WbNhtpCXP5mRTi5wg,Hookah Lounge Amsterdam,52.364818,4.862226,food & drinks,https://www.yelp.com/biz/hookah-lounge-amsterd...
4,6nN1aGt6IceUW1Ehe_fv3w,Waterkant,52.369889,4.876115,food & drinks,https://www.yelp.com/biz/waterkant-amsterdam?a...
...,...,...,...,...,...,...
10,oYBWpgfOMqGezA3fhNf5UA,De Avondmarkt,52.383237,4.876507,supermarket,https://www.yelp.com/biz/de-avondmarkt-amsterd...
11,3KRoz3VU2oFpm4EwxGCusQ,Albert Heijn,52.362694,4.892159,supermarket,https://www.yelp.com/biz/albert-heijn-amsterda...
12,fvFIn1wUhqq3vk6Zf1e-yw,Beydogan Sera Supermarket,52.381038,4.855395,supermarket,https://www.yelp.com/biz/beydogan-sera-superma...
13,cBDhlZaWcGP2Eq2B5iZgtg,Albert Heijn,52.331019,4.878251,supermarket,https://www.yelp.com/biz/albert-heijn-amsterda...
14,SEMNH3s4dxbVF0qo1LnbTw,Albert Heijn,52.378070,4.901180,supermarket,https://www.yelp.com/biz/albert-heijn-amsterda...

In [56]:
# calculating the distance between two points (in m) using the Haversine formula

# approximate radius of earth in km


def distance_meters (lat1, lon1, lat2, lon2):

    R = 6373.0

    lat1_radian = radians(lat1)
    lon1_radian = radians(lon1)
    lat2_radian = radians(lat2)
    lon2_radian = radians(lon2)

    dlon = lon2_radian - lon1_radian
    dlat = lat2_radian - lat1_radian

    a = sin(dlat / 2)**2 + cos(lat1_radian) * cos(lat2_radian) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance_km = R * c
    distance = distance_km/1000

    return distance

distance_meters(52.36575, 4.94142, 52.366211, 4.859380)

0.005572282339326203